.formulaire {
    background-image: linear-gradient(-225deg, #0E1D34, rgba(23, 162, 184, 1) 100%);
    background-image: linear-gradient(to top, #0E1D34 0%, #14ae7a 100%);
   
    opacity: .95;
    width: 100%;

    margin: auto;
       
   .formulaireSignInSignUp{
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
   }
    .button{
        
        text-align: center;
        // display: flex;
        // align-items: center;
        // align-content: center;
        // justify-content: center;
        margin: auto;
       
        button{
            margin-right: 5px;
            background: #B8F2E6;
            width: auto;
        }
    }
    /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}